/* Styles for everything under List of Properties */
.propertiesContainer {
  padding: 1rem;
  margin: 1rem;
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Styles for everything under List of Favorites */
.favoritesContainer {
  padding: 1rem;
  margin: 1rem;
  background: #f1f1f1;
  border-radius: 1rem;
}

ul li {
  list-style: none;
}

.clearListBtn {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin: 0.25rem;
  border: 1px solid black;
}

.clearListBtn:hover {
  background: #c2c2c2;
  transition: 0.5s;
}

/* Styles that apply for both the list */
.cardsContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.propertyPicture {
  height: auto;
  width: 24rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.cardBtns {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin: 0.25rem;
  border: 1px solid black;
}

.cardBtns:hover {
  background: #c2c2c2;
  transition: 0.5s;
}
