/* Font for Website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Fade in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main styles for the website body */
* {
  animation: fadeIn 0.8s;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

/* Remove home page scrollbar */
.no-scroll {
  overflow: hidden;
}
