/* searchbar.jsx */
/* Styles for the search box container */
.searchBox {
  padding: 1rem;
  margin: 1rem;
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Styles for the search box */
.searchInput {
  border: 2px solid transparent;
  width: 50em;
  height: 3em;
  margin-top: 1em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

/* Styles on hover & focus effect for the search box */
.searchInput:hover,
.searchInput:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

/* Styles for the check box */
.dropdown {
  border: 2px solid transparent;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

/* Styles on hover & focus effect for the check box */
.dropdown:hover,
.dropdown:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

/* Styles on hover & focus effect for the check box */
.checkbox:hover,
.checkbox:focus {
  transition: all 0.5s;
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}

/* Styles for the search button */
.searchBtn {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin: 0.25rem;
  border: 1px solid black;
}

/* Styles on hover effect for the search button */
.searchBtn:hover {
  background: #c2c2c2;
  transition: 0.5s;
}

/* Styles for the results box container */
.resultsBox {
  padding: 1rem;
  margin: 1rem;
  background: #f1f1f1;
  border-radius: 1rem;
}